

body{
    background: url(https://thumbs.dreamstime.com/z/minimalistic-background-paint-brush-strokes-hand-drawn-texture-minimalistic-background-paint-brush-strokes-hand-drawn-103362167.jpg);
	background-repeat: no-repeat;
	background-size: cover;    
    /*margin-left: 500px;
    margin-top: 270px;*/
    font-family: "Karla", sans-serif;
}

div h1{
    text-align: center;
    vertical-align: middle;
}

.category{
    margin-left: 95px;
}

.event{
    margin-left: 25px;
}

.date{
    margin-left: 90px;
}
.location{
    margin-left: 80px;
}

ul{
    list-style-type: none;
}

#eventDate{
    margin-left: 27px;
}

#eventName{
    margin-left: 20px;
}

form{
    margin-left: 130px;
    border: 2px solid grey; 
    margin-right: 650px;
}

button{
    margin-left: 120px; 
}