/* html{
    height: 1000px;
} */
body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Alegreya', serif; */
}
h1{
    font-family: 'Oswald', sans-serif;
    padding-top: 50px;
    font-weight: 700;
    font-size: 14em;
    color:white;
}

h3{
    color: white;
}

h2{
    font-family: 'Oswald', sans-serif;
    margin: 30px auto;
    font-weight: 700;
    position: relative; 
    z-index: 1;
    color: white;
    font-size: 5em;
}

#welcome{
    height: 575px;
    background: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    
    /* text-align: center; */
}

.intro{
    padding-left: 10px;
}

#introL2 #introL3{
    margin-top: -30px;
}

.category{
    width: 100%; 
    height: 200px; 
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 10px;
}

i{
    color: #252845;
}

/* .category-business, .category-school, .category-leisure{
    
    box-shadow: 3px 3px 3px rgba(189, 195, 199, 0.5),
                5px 5px 5px rgba(189, 195, 199, 0.3),
                10px 10px 10px rgba(189, 195, 199, 0.2);
                
    padding: 20px 50px;
} */

hr{
	width: 430px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#whiteNav{
    background-color: white;
    padding-left: 400px;
    height: 103px;
    margin-top: -100px;
    border: none;
}

.centerElements{
    padding-left: 60px;
    padding-right: 60px;
}

#centerPart{
    width: 70%;
    fill: yellow;
}

svg{
    margin-top: -90px;
    position: relative; 
    z-index: 1;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Merriweather', serif;
    /* font-family: 'Open Sans', sans-serif; */

}