/* html{
    height: 1000px;
} */
body{
    font-family: 'Alegreya', serif;
}
h1{
    padding-top: 200px;
    font-weight: 700;
    font-size: 4em;
}

h1, h2, h3{
    color: #252845;
    font-family: 'Lora', serif;
}

h2{
    margin: 30px auto;
    text-align: center;
    font-weight: 700;
    position: relative; 
    z-index: 1;
}

#welcome{
    height: 575px;
    background: url(https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.category{
    width: 100%; 
    height: 200px; 
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 10px;
}

i{
    color: #252845;
}

/* .category-business, .category-school, .category-leisure{
    
    box-shadow: 3px 3px 3px rgba(189, 195, 199, 0.5),
                5px 5px 5px rgba(189, 195, 199, 0.3),
                10px 10px 10px rgba(189, 195, 199, 0.2);
                
    padding: 20px 50px;
} */

hr{
	width: 430px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#whiteNav{
    background-color: white;
    padding-left: 400px;
    height: 103px;
    margin-top: -100px;
    border: none;
}

.centerElements{
    padding-left: 60px;
    padding-right: 60px;
}

#centerPart{
    width: 70%;
    fill: yellow;
}

svg{
    margin-top: -90px;
    position: relative; 
    z-index: 1;
    font-weight: 700;
    font-family: 'Lora', serif;
    font-size: 45px;
}